body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

}

.title-block{
    margin-bottom: 25px;
    height: 180px;
        background-color: darkslategrey;
        align-items: center;

justify-content: center;
        color: rgb(235, 197, 122);
        display: flex;
}

.grid-wrapper-flex{
    box-sizing: border-box;
    /* background-color: blanchedalmond; */
    text-align: center;
    justify-content: center;
    margin: auto 10%;
    display: flex;

}

.grid-container{
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    /* background-color: brown; */
    height: 100%;
    width: 100%;
    /* justify-items: center; */
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}
.centreImg {
    grid-column: 2 / 3;
}

.grid-cell-1{
    /* background-color: crimson; */
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-cell-1-description{
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #1c87c9;
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-cell-1:active .grid-cell-1-description{
  opacity: 1;
}

/* .grid-cell-1:hover .grid-cell-1-description{
  opacity: 1;
} */

img{
    object-fit: cover;
    height: 100%;
    width: 300px;
    align-content: center;;
}

@media screen and (min-width: 724px) {
    .grid-container{
        grid-template-columns: repeat(2, auto);
    }

    img{
        object-fit: cover;
        height: 100%;
        width: 100%;

    }
}

@media screen and (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(3, minmax(100px, 500px));
                grid-template-rows: repeat(2, auto);

    }

    img{
        object-fit: cover;
        object-position: center;
        height: 100%;

        width: 100%;
    }
}

.test-flex{
    display: flex;
justify-content: center;
font-size: 40px;
    width: 100%;
    background-color: darkmagenta;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 20px;
    background-color: darkslategrey;
}